/* VARIABLES CSS */

:root {
	--light-blue: #dcdfef;
	--dark-blue: #3a457f;
	--white: #fff;
	--black: #000;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: Kelson Sans, sans-serif;
	display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 700;
	font-size: 6.25rem;
}

h2 {
  font-weight: 700;
	font-size: 3.125rem;
	line-height: 1.1;
}

h3 {
  font-weight: 700;
  font-size: 1.563rem;
}

p {
  font-weight: 400;
	font-size: 1rem;
	line-height: 1.6;
}

a {
	color: var(--black);
	line-height: 1.6;
	text-decoration: none;
}

a:hover, a:hover path {
	color: var(--dark-blue);
	fill: var(--dark-blue);
}

/* HERO */

.hero {
	background-color: var(--light-blue);
	padding: 3em;
}

.logo {
	margin-bottom: 0.8rem;
	display: block;
}

.daphne-image {
	display: block;
	margin: 4em 0 0 0;
	width: 100%;
}

.small-h1 {
	font-size: 3.125rem;
}

/* INFORMATION */

.about, 
.skills, 
.contact {
	padding: 2.5em;
	background-color: var(--light-blue);
}

.information {
	background-color: var(--dark-blue);
}

.about>h2 {
	margin-bottom: 1rem;
}

.skills>h2 {
	margin-bottom: 1rem;
}

.contact {
	display: flex;
	flex-direction: column;
}

.contact>h2 {
	margin-bottom: 1rem;
}

.contact>h3 {
	margin-bottom: 0.5rem;
}

.socials-flex {
	display: flex;
	gap: 1rem;
}

svg {
	margin-right: 0.5em;
	width: 2em;
}

.margin-bottom {
	margin-bottom: 1rem;
}

.questions-image {
	margin-top: 1em;
	height: 20em;
}

/* DESKTOP */

@media (min-width: 70em) {
	main {
		padding: 5em;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	article {
		padding: 5em;
	}

	.daphne-laptop {
		display: block;
		margin: 4em auto 0 auto;
		width: 80%;
	}

	/* INFORMATION */

	.information {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
}

@media (min-width: 100em) {
	p {
		font-size: 1.5rem;
	}

	a {
		font-size: 1.5rem;
	}

	.daphne-laptop {
		margin: 4em auto 0 auto;
		width: 60%;
	}
}